<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=index.php">
    <title>RaspAP Web Interface</title>
</head>
<body>
    <p>Redirecting to <a href="index.php">RaspAP Web Interface</a>...</p>
</body>
</html>
